[submodule "js/lib/culljs"]
	path = js/lib/culljs
	url = https://github.com/culljs/culljs.git
[submodule "js/lib/dome"]
	path = js/lib/dome
	url = https://github.com/culljs/dome.git
[submodule "js/lib/reqwest"]
	path = js/lib/reqwest
	url = https://github.com/ded/reqwest.git
[submodule "js/lib/spin.js"]
	path = js/lib/spin.js
	url = https://github.com/fgnass/spin.js.git
[submodule "lib/bane"]
	path = lib/bane
	url = https://github.com/busterjs/bane.git
[submodule "js/lib/bane"]
	path = js/lib/bane
	url = https://github.com/busterjs/bane.git
[submodule "js/lib/when"]
	path = js/lib/when
	url = https://github.com/cujojs/when.git
[submodule "js/lib/showdown"]
	path = js/lib/showdown
	url = https://github.com/coreyti/showdown.git
[submodule "js/lib/uinit"]
	path = js/lib/uinit
	url = https://git.gitorious.org/gitorious/uinit.git
[submodule "js/lib/timeago"]
	path = js/lib/timeago
	url = https://github.com/cjohansen/timeago.git
[submodule "js/lib/raphael"]
	path = js/lib/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "js/lib/capillary"]
	path = js/lib/capillary
	url = https://git.gitorious.org/capillary/capillary-js.git
