[submodule "js/lib/culljs"]
	path = js/lib/culljs
	url = https://github.com/culljs/culljs.git
[submodule "js/lib/dome"]
	path = js/lib/dome
	url = https://github.com/culljs/dome.git
[submodule "js/lib/reqwest"]
	path = js/lib/reqwest
	url = https://github.com/ded/reqwest.git
[submodule "js/lib/spin.js"]
	path = js/lib/spin.js
	url = https://github.com/fgnass/spin.js.git
